PORT=*******

DB_HOST=*******
DB_USER=*******
DB_PASSWORD=*******
DB_NAME=*******
DB_PORT=*******

NODE_ENV=*******

JWT_SECRET=*******

WEB_URL=*******

SERVICE=*******
AUTH_EMAIL=*******
AUTH_PASSWORD=*******