BASE_URL=*************************

K6_DASAWISMA_EMAIL=*************************
K6_DASAWISMA_PASSWORD=k*************************

K6_AMIL_EMAIL=*************************
K6_AMIL_PASSWORD=*************************